# Node modules
node_modules

# Build files
dist
.cache
build
coverage
.DS_Store
*.orig
yarn-error.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.yarn/*
!.yarn/releases

# Medusa files
.medusa/api
.medusa/medusa-db.sql
.medusa/medusa-db-previous.sql
.medusa/server
!.medusa/client

# Environment files
.env
.env.*
!.env.template
!.env.example

# Next.js
.next
.vercel

# Database dump files
tmp/backups/*.sql
tmp/*.sql

# Debug logs
npm-debug.log*
yarn-debug.log*
.pnpm-debug.log*

# Testing
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth
